{% extends "AppFormularios/base.html"%}

{% load static %}

{% block main %}

<h1> Administracion de Profesores </h1>
    <form action="{% url 'agregar-profesor' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Agregar">
    </form>
    
    <h5> Lista de Profesores </h5>
    <ul>
        {% for profesor in profesores %}
        <li> {{profesor.id}} - {{profesor.nombre}}  {{profesor.apellido}} - {{profesor.profesion}}</li>
        {% endfor %}
    </ul>

{% endblock %}
