{% extends "AppFormularios/base.html"%}

{% load static %}

{% block main %}

<h1>Bienvenido a la Pagina de Formularios!</h1>

<h1> </h1>

<h3> Para realizar una actividad puede ir a los botones de accion de arriba o a la barra de busqueda. </h3>

<h1> </h1>
<h1> </h1>

<main>
  
    <div class="row">
     <div class="col-lg-4">
        <img src="{% static 'AppFormularios/assets/logos_coderhouse.png' %}" height="136" width="438">
        <p>Tercer Pre-Entrega Kral Franco</p>
    </div>
    </div>
  
    
</main>

{% endblock %}